*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(224, 131, 247);
}
.div1{
    height: 500px;
    width: 700px;
    background-color: gray;
    display: flex;
    margin-left: 280px;
    margin-top: 40px;
    
    
}
.image{
    height: 500px;
    width: 350px;
   
}
.image img{
    height: 100%;
    width: 100%;
}
.form{
    height: 500px;
    width: 350px; 
    background-color: black; 
    padding-left: 20px;  
    
} 

.form h1{
    color: white;
    margin-top: 50px;
    font-family: Arial;
    font-weight: 100;
}

input{
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 40px;
    background-color: black;
    opacity: 0.7;
    padding-top: 10px;
    color: white;
    padding-top: 10px;
   
}
select{
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
}
button{
    height: 30px;
    width: 100px;
    background-color: rgb(10, 141, 10);
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}