.box{
    height: 100px;
    width: 100px;
    background-color: yellow;
    transition: 3s;
    
    /* transition-delay: 3s; */
}

.box:hover{
   width: 200px;
   background-color: red;
}

.cover{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    margin: auto;
}

.cont{
    height: 200px;
    width: 200px;
    background-color: yellow;
    transform: perspective(200px) translate3d(0px,0px,-50px);
}