*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: auto;
    width: 100%;
    background-color: ;
   
   
}
.header{
    height: 100px;
    width: 100%;
    background-color: white;
}
.header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    color: rgb(49, 0, 139);
 
    
}
.header p{
    text-align: center;
    letter-spacing: 1.8px;
}

.menu{
    height: 50px;
    width: 100%;
    background-color: rgb(111, 245, 245);
    display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-between;
  
}
.home{
    background-color: aliceblue;
    height: 40px;
    width: 200px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
}
.banner{
    height: 413px;
    width: 100%;
    /* background-color: pink; */
}

.banner img{
    height: 413px;
    width: 100%;
}
 .container{
    height: auto;
    width: 100%;
    /* background-color: ; */
    display: flex;
    flex-direction: row;

}
 .img{
    height: 413px;
    width: 50%;
    padding: 7px;
 
   
 }
 .img img{
    height: 100%;
    width: 100%;
  
    
}  

 .text{
    height: 413px;
    width: 50%;
    
    
}
.text h2{
    text-align: center;
    margin-top: 15px;
    color: red;
    font-size: 25px;
}
.text p{
    margin: 10px;
    justify-content: space-between;
    letter-spacing: 1.8px;
    line-height: 25px;
    
} 
 .section{
    height: auto;
    width: 100%;
    background-color: navy;
    float: left; 
    display: flex;
   /* padding-top: 6px; */
     /* margin-left: 4px;
    margin-right: 4px;  
    */
} 
    .cont{
    height: 490px;
    width: 24%;
     background-color: lightblue; 
     float: left; 
        margin-top: 5px;  
        margin-left: 9.4px;
    
}    
.img1{
    height: 190px;
    width: 100%;
    background-color: purple;
} 
.img1 img{
    height: 100%;
    width: 100%;
}
.text1{
    height: 300px;
    width: 100%;
    background-color: lightcoral;
}
.text1 h1{
    text-align: center;
    color: black;
    text-shadow: 5px 3px 5px blue;
    padding-top: 10px;
}
.text1 p{
    margin-left: 3px;
    text-align: center;
    color: white;
    padding-top: 10px;
}
.btun{
    height: 30px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 70px;
    border: 2px solid blue;
    margin-top: 40px;
}
@media all and (min-width:320px) and (max-width:600px)  {
    .header h1{
        text-transform: uppercase;
        text-align: center;
        font-size: 35px;
        color: rgb(49, 0, 139);
        /* margin-top: 20px; */
        
    }

    .menu{
        height: auto;
        flex-direction: column;
       align-items: center;
    }
    .banner{
        height: auto;
        width: 100%;
        /* background-color: pink; */
    }
    .banner img{
        height: auto;
        width: 100%;
    }
      .container{
        flex-direction: column;
        height: auto;
    }

    .img {
        height: auto;
        width: 100%;
        background-color: white;
    }  



.text{
    height: auto;
    width: 100%;
    background-color: white;   
}

}  


 @media all and (max-width:768px) {
    
     .text{
        height: auto;
        width: 100%;
        background-color: white;   
    } 
    .img {
        height: auto;
        width: 100%;
        background-color: white;
    } 
    .banner{
        height: auto;
        width: 100%;
        /* background-color: pink; */
    }
    
    .banner img{
        height: auto;
        width: 100%;
    }
   
} 