h1{
 color:red; background-color:black;
}
h2{
 color:black; background-color:pink;
}
h3{
 color:pink; background-color:yellow;
}
h4{
 color:red; background-color:pink;
}
h5{
 color:black; background-color:purple;
}
h6{
 color:orange; background-color:pink;
}